html {
    overflow: hidden;
  }
  
  body, input, button, textarea, select {
    font-family: DotGothic16, sans-serif;
    font-size: 20px;
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

.billeUser
{
  cursor: pointer;
}

  div.bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../assets/img/output-onlinepngtools.png?h=381c6e0341cdb12514de655547863e2b');
    background-size: contain;
    z-index: 0;
    display: flex;
    align-items: center;
  }
  
  div.progressBar {
    z-index: 50;
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  
  div.progressBar img {
    width: 60px;
  }
  
  div.progressBar img + img {
    margin-left: 5px;
  }
  
  div.progressBar div {
    display: inline;
  }
  
  div.progressBar div.barUser1 {
    position: fixed;
    left: 0px;
  }
  
  div.progressBar div.barUser2 {
    position: fixed;
    right: 0px;
  }
  
  div.progressBar img.handLeft, img.handRight {
    z-index: 10;
    position: fixed;
    z-index: 1;
  }
  img.handLeft {
    transform: rotate(90deg);
    left: 0px;
    height: 80%;
    transition: all 10ms ease-in-out;
  }
  
  img.handRight {
    transform: rotate(270deg);
    right: 0px;
    height: 80%;
    transition: all 10ms ease-in-out;
  }
  
  div.inputs {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    top: 50px;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div.inputs input, div.inputs button {
    font-size: 35px;
    outline: none;
    border: 0px;
    text-align: center;
    padding: 5px 10px;
  }
  
  div.inputs button + button, div.inputs input + button {
    margin-left: 10px;
  }
  
  div.inputs button {
    background: url(../assets/img/bgBtn.png?h=33a8d1371501f0bf099dc40a5f4b0982);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  div.inputs button:hover {
    filter: invert(5%);
  }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    
  @media all and (max-width:1299px) {
    div.progressBar img {
      width: 45px;
    }
  }
  
  @media all and (max-width:940px) {
    div.progressBar img {
      width: 30px;
    }
  }
  
  @media all and (max-width:940px) {
    div.inputs {
      align-items: flex-start;
      margin-top: 35px;
    }
  }
  
  @media all and (max-width:940px) {
    img.handLeft, img.handRight {
      height: 55%;
    }
  }
  
  @media all and (max-width:650px) {
    div.progressBar img {
      width: 15px;
    }
  }
  
  @media all and (max-width:650px) {
    div.progressBar img + img {
      margin-left: 2px;
    }
  }
  
  @media all and (max-width:650px) {
    img.handLeft, img.handRight {
      height: 15%;
    }
  }
  
  